<%- include('partials/header.ejs')%>

    <body>
        <div class="reviews-container">
            <div class="left-container">
                <img src="img/0010521270-L.jpg" alt="cover" width="270" height="426">
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="number-rating">
                        0/5
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="title">
                    <h1>
                        A Common-Sense Guide to Data Structures and Algorithms: Level Up Your Core Programming Skills
                    </h1>
                </div>
                <div class="author">
                    By jay wengrow
                </div>
                <div class="add-review-rating">
                    <form action="/add-review" method="post" enctype="application/x-www-form-urlencoded">
                        <label for="book-review">review</label>
                        <textarea name='review' id="book-review" cols="75" rows="20"></textarea>
                        <label for="rate">rating</label>
                        <input type="number" name='rate' id="rate" min="0" max="5">
                        <input type="submit" value="add review">
                    </form>
                </div>
            </div>
        </div>
    </body>
    <%- include('partials/footer.ejs')%>