<%- include('partials/header.ejs') %>

    <body>
        <header>
            <div class="title-subtitle">
                <h1>fikri's book notes</h1>
                <h2>books i've read</h2>
            </div>
            <div class="sites-info">
                <p>This is my personal book notes. This page contains all books that I have read,
                    click on the note button to see my notes of the book.</p>
                <p>You can sort this list by <a href="#">title</a>, <a href="#">oldest</a>, and <a href="#">best</a>.
                </p>
            </div>
        </header>
        <main>
            <div class="search">
                <form action="" method="get">
                    <input type="search">
                </form>
            </div>
            <div class="content">
                <div class="card-container">
                    <div class="card">
                        <img src="img/0010521270-L.jpg" alt=""
                            style="width: 100%; height: 50%; object-fit: cover; object-position: 100% 0; border-radius: 5px;">
                        <div class="container">
                            <h3>Title</h3>
                            <div class="date-rate">
                                <span>Date read: 2023-08-02</span>.
                                <span>Rate: 10/10</span>
                            </div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut quis quod
                                pariatur.
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores facilis harum
                                recusandae
                            </p>
                            <div>
                                <button id="views-button">Views</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/0010521270-L.jpg" alt=""
                        style="width: 100%; height: 50%; object-fit: cover; object-position: 100% 0; border-radius: 5px;">
                    <div class="container">
                        <h3>Title</h3>
                        <div class="date-rate">
                            <span>Date read: 2023-08-02</span>.
                            <span>Rate: 10/10</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut quis quod pariatur.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores facilis harum recusandae
                        </p>
                        <div>
                            <button id="views-button">Views</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/0010521270-L.jpg" alt=""
                        style="width: 100%; height: 50%; object-fit: cover; object-position: 100% 0; border-radius: 5px;">
                    <div class="container">
                        <h3>Title</h3>
                        <div class="date-rate">
                            <span>Date read: 2023-08-02</span>.
                            <span>Rate: 10/10</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut quis quod pariatur.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores facilis harum recusandae
                        </p>
                        <div>
                            <button id="views-button">Views</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/0010521270-L.jpg" alt=""
                        style="width: 100%; height: 50%; object-fit: cover; object-position: 100% 0; border-radius: 5px;">
                    <div class="container">
                        <h3>Title</h3>
                        <div class="date-rate">
                            <span>Date read: 2023-08-02</span>.
                            <span>Rate: 10/10</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut quis quod pariatur.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores facilis harum recusandae
                        </p>
                        <div>
                            <button id="views-button">Views</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/0010521270-L.jpg" alt=""
                        style="width: 100%; height: 50%; object-fit: cover; object-position: 100% 0; border-radius: 5px;">
                    <div class="container">
                        <h3>Title</h3>
                        <div class="date-rate">
                            <span>Date read: 2023-08-02</span>.
                            <span>Rate: 10/10</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut quis quod pariatur.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores facilis harum recusandae
                        </p>
                        <div>
                            <button id="views-button">Views</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/0010521270-L.jpg" alt=""
                        style="width: 100%; height: 50%; object-fit: cover; object-position: 100% 0; border-radius: 5px;">
                    <div class="container">
                        <h3>Title</h3>
                        <div class="date-rate">
                            <span>Date read: 2023-08-02</span>.
                            <span>Rate: 10/10</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut quis quod pariatur.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores facilis harum recusandae
                        </p>
                        <div>
                            <button id="views-button">Views</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <img src="img/0010521270-L.jpg" alt=""
                        style="width: 100%; height: 50%; object-fit: cover; object-position: 100% 0; border-radius: 5px;">
                    <div class="container">
                        <h3>Title</h3>
                        <div class="date-rate">
                            <span>Date read: 2023-08-02</span>.
                            <span>Rate: 10/10</span>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aut quis quod pariatur.
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores facilis harum recusandae
                        </p>
                        <div>
                            <button id="views-button">Views</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="index.js"></script>
    <%- include('partials/footer.ejs') %>