<%- include('partials/header.ejs') %>

    <body>
        <div class="reviews-container">
            <div class="left-container">
                <img src="img/0010521270-L.jpg" alt="cover" width="270" height="426">
                <div class="rating">
                    <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                    </div>
                    <div class="number-rating">
                        3.5/5
                    </div>
                </div>
                <div class="edit-delete">
                    <button>Edit</button>
                    <button>Delete</button>
                </div>
            </div>
            <div class="right-container">
                <div class="title">
                    <h1>
                        A Common-Sense Guide to Data Structures and Algorithms: Level Up Your Core Programming Skills
                    </h1>
                </div>
                <div class="author">
                    By jay wengrow
                </div>
                <div class="review">
                    <h2>review</h2>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration
                        in some form, by injected humour, or randomised words which don't look even slightly believable.
                        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing
                        hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat
                        predefined chunks as
                        necessary,
                        making this the first true generator on the Internet. It uses a dictionary of over 200 Latin
                        words, combined with a
                        handful of
                        model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem
                        Ipsum is therefore always
                        free from repetition, injected humour, or non-characteristic words etc.
                    </p>
                </div>
            </div>
        </div>
    </body>
    <%- include('partials/footer.ejs') %>