body {
    background-color: #484E51;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    max-width: 75%;
    margin: 0 auto;
}

main {
    margin-bottom: 4em;
}

footer {
    text-align: center;
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.title-subtitle {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
}

h1 {
    margin-bottom: 0;
    font-size: 3rem;
}

h2 {
    margin: 0 0 0.25rem 0;
    font-size: 2rem;
}

header {
    width: 90%;
}

.sites-info {
    font-size: 1.5rem;
}

.sites-info p {
    margin-top: 0;
}

.sites-info p:nth-child(1) {
    margin-bottom: 0.25rem;
}

.search {
    margin-bottom: 1.5em;
}

.search form input[type="search"] {
    outline: none;
    border: none;
    padding: 0.75rem 1rem;
    font-size: larger;
    font-weight: 600;
    background-color: #D9D9D9;
    color: rgba(72, 78, 81, 0.75);
    border-radius: 10px;
}

.card-container {
    overflow: hidden;
}

.card {
    width: 100%;
    max-width: 324.41px;
    height: 450px;
    background-color: #3E4346;
    border-radius: 5px;
    box-shadow: 0.25em 0.25em 0.75em black;
    overflow: auto;
}

.container {
    padding: 2px 16px;
}

h3 {
    font-family: 'PT Serif', serif;
    margin: 0.25rem 0 0.01rem 0;
}

.date-rate {
    font-size: 1rem;
    font-family: 'PT Serif', serif;
}

.container>p {
    font-size: 0.95rem;
    margin: 0.5em 0 1em 0;
}

#views-button {
    text-transform: uppercase;
    padding: 3px 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #3E4346;
}

button:hover,
input[type="submit"]:hover {
    box-shadow: 0 0.5em 1em -0.25em black;
    transform: translateY(-0.05em);
    cursor: pointer;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

/* reviews page */
.checked {
    color: yellow;
}

.reviews-container {
    display: flex;
    font-family: 'PT Serif', serif;
    margin-bottom: 3em;
}

.left-container {
    margin: 3em 3em 0 0;
}

.left-container>img {
    border-radius: 10px;
}

.rating {
    display: flex;
    justify-content: center;
    margin: 0.5em 0;
}

.stars {
    font-size: 1.5rem;
}

.number-rating {
    font-size: 1.5rem;
    margin-left: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.edit-delete {
    display: flex;
    justify-content: center;
}

.edit-delete button {
    padding: 5px 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: #fff;
}

.edit-delete>button:nth-of-type(1) {
    background-color: #40A2E3;
    margin-right: 1em;
}

.edit-delete>button:nth-of-type(2) {
    background-color: #FF8080;
}

.right-container {
    margin: 2em 0 0 0;
    box-sizing: border-box;
}

.title>h1 {
    margin-top: 0;
}

.author {
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.review {
    margin-top: 2.5em;
}

.review>h2 {
    text-transform: capitalize;
}

.review>p {
    margin-top: 0.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Add review page */

.add-review-rating {
    margin-top: 2.5em;
}

label,
input {
    display: block;
}

label {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

form textarea,
input {
    margin-bottom: 1em;
}

form input[type="submit"] {
    color: #fff;
    background-color: #40A2E3;
    border: none;
    padding: 3px 10px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}